*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient(to right, rgb(7, 10, 29), rgba(0, 0, 0, 0.835));
}

.text-site{ 
    margin:10vh auto;
    text-align: center;
}
.text-site h1{
    font-size: 80px;
    margin-top: 20px;
    margin-left: 330px;
    letter-spacing: 5px;
    filter: drop-shadow(-5px 10px 5px  rgba(36, 35, 35, 0.7));
    font-family: 'tec2','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #02cbb7;
}


.box-img img{  
    width: 400px;
    filter: drop-shadow(5px 35px 20px #000000);
    transition: 1s;
}


.container-gen{
    max-width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.container-gen div{ /* main da pagina */
    margin: 20px ;
}

.box-gen{
    width: 50vw;
    height: 10vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3c3939;
    box-shadow:4px 10px 20px 0px #000;
    border-radius: 30px;
}

.box-gen input{
    width: 35vw;
    height: 8vh;
    border: none;
    border-radius: 20px;
    font-size: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    padding: 5px;
    outline: none;
    background-color: transparent;
    color: #daa520;
}
.btn-Copy{
    height: 80px;
    width: 100px;
    color: white;
    margin-right: 5px;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.8;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
}
.reloadGen{
    height: 65px;
    width: 65px;
    margin-left: 30px;
    transition: 0.5s;
    opacity: 0.5;
    cursor: pointer;
}
.reloadGen:hover{
    opacity: 1;
    background-color: transparent;
    filter: drop-shadow(0px 0px 1px rgb(5, 245, 5));
    transition: 0.5s;
    transform: scale(1.1);
}

.btn-Copy:hover{
    opacity: 1;
    background-color: transparent;
    transition: 0.5s;
    color: lightseagreen;
    transform: scale(1.1);
    
}
.box-caracters{
    width: 50vw;
    border-radius: 25px;
    box-shadow: inset 1px 1px 5px 2px #04cfc2;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #04cfc2;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* content-range */
.box-range{
    font-size: 34px;
}

.tamanho-gen{
    height: 60px;
    width: 70px;
    padding: 10px;
    font-size: 25px;
    font-family: 'Tec';
    text-align: center;
    color: rgb(9, 255, 247);
    outline: #02cbb7;
    border-radius: 5px;
    background-color: #141124;
}

.box-range span{
    color: #fafafa ;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
.box-type-gen{
    height: 50px;
    width: 600px;
    font-size:25px;
}
.box-type-gen label,.box-range label{
    margin-left: 20px;
}

.box-type-gen input{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}